*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

body{

	background-image: url('../imagens/wallpaper.png') ;
	background-repeat: no-repeat round;
	background-size:100%;
	background-attachment: fixed;

}

#logo{

	height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
	margin-left: 20px;
	margin-top: 5px;

}

.menu{

	display: grid;
	grid-template-columns: 400px 890px;
	background-color: rgba(29, 35, 71,0.7); 
	border: 2px groove rgb(186, 0, 0);
	height: 75px;
	max-width: 100%;
	width: 100%;
}

.menu ul{

	list-style: none;
	display: grid;
	grid-template-columns: repeat(4,130px);
	justify-self:end;
	align-content: center;
	align-items: center;

}

.item-menu a{

	color: white;
	font-size: 20px;
	text-decoration: none;
	padding-right: 5px;
	padding-left: 5px;
	border:2px solid white;
	font-weight: bolder;


}

.item-menu a:hover{
	
	color: white;
	border: 3px solid white;
	font-size: 25px;

}

.menu ul li{

	text-align: center;	
}


#area-texto{

	height: 100%;
	width: 1150px;
	max-width: 1150px;
	background-color: rgba(29, 35, 71,0.95);
	color:rgb(163, 163, 163);
	font-size: 17px;
	font-weight: bold;
	border: 3px groove rgb(186, 0, 0);
	margin-top: 40px;

}	

.paragrafo{

	color: white;
	font-size: 40px;

}

#trailer{

	width: auto;
	height: auto;
	max-height: 298px;
	max-width: 531px;

}



.imagem_exemplo{

	width: 350px;
	height: 200px;
	margin-left: 20px;

}

#container_area-texto{

	display:flex;
	justify-content: center;
}

.conteudo{

    text-decoration: none;
    color:white;
    font-size: 20px;
	margin-left: 40px;   
	padding: 5px;
}

#caixa_conteudo{

	display: flex;
	justify-content: center;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 50px;
}

.conteudo:hover{

	color: rgb(24, 78, 153);
	text-decoration: underline;

}

.categorias-img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

}

#caixa_video{

	display: flex;
	justify-content: center;
}

#rodape{

	width: 100%;
	height: 20%;
	background-color: rgb(14, 12, 51);
	border: 1px solid red;
	margin-top: 35px;
	border: 2px groove red;

}

.item_rodape{

	display: flex;
	justify-content: center;

}

.redes_sociais{

	text-decoration: none;
	font-size: 20px;
	color: rgb(255, 0, 0);
	margin-right: 40px;
	margin-top: 20px;
	border: 2px solid rgb(255, 0, 0);
	padding: 5px;
}

.redes_sociais:hover{

	color: rgb(138, 0, 0);
	border: 2px solid rgb(138, 0, 0);
	
}

.item2_rodape{

	display: flex;
	justify-content: center;
	margin-left: 60px;

}

.imagem_historia{

	display: flex;
	justify-content: center;
}

.amuletos{

	color: rgb(163, 71, 65);

}

.texto_amuleto{

	margin-bottom: 30px;
	margin-left: 20px;

}

.imagem_amuleto{

	width: 55px;
	height: 55px;
	margin-right: 10px;

}

.imagem_magia{

	width: 80px;
	height: auto;
	margin-right: 10px;
	margin-left: 10px;

}
